body {
    background: #9F6272;
}
.text, h1, h6 {
    /* color: #9F6272; */
    color: #F0FFFC;
}
.text-medium {
    font-size: 1.2rem;
}

/* .flex-column{
    display: flex;
    flex-direction: column;
} */