.colored {
    width: 200px;
    padding: 5px;
    height: 220;
}
.pic{
    width: 250px;
    padding: 5px;
}
.picDeatils{
    object-fit: cover;
}
.container-fluid{
    display: flex;

}
.inspo__img{
    width: 300px;
    padding: 5px;
}
.img-thumbnail{
    width: 25px;
    height: 25px;
}