.colored {
    width: 200px;
    padding: 5px;
    height: 220;
}
.pic{
    width: 250px;
    padding: 5px;
}
.picDeatils{
    object-fit: cover;
}
.container-fluid{
    display: flex;

}
.inspo__img{
    width: 300px;
    padding: 5px;
}
.img-thumbnail{
    width: 25px;
    height: 25px;
}
.rectangle-up{
    width: 240px;
    height: 315px;
}
.rectangle{
    width: 240px;
    text-align: center;
}
tr {
    text-align: center;
}
/* .flex-column{
    display: flex;
    flex-direction: column;
} */